# A biblioteca yfinance Python

O `yfinance` é uma biblioteca Python com uma interface amigável para download de dados históricos de mercado do Yahoo Finance. Ele permite obter preços históricos de ações, dividendos e outros dados financeiros de ações, fundos negociados em bolsa (ETFs) e outros títulos.

Este exemplo mostra o código para usar yfinance para baixar preços históricos de ações.

In [1]:
import yfinance as yf

# Download historical data for a stock
msft = yf.Ticker("MSFT")

msft_data = msft.history(period="max")

# Display the downloaded data
msft_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054792,0.062849,0.054792,0.060163,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060163,0.063386,0.060163,0.062311,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062311,0.063923,0.062311,0.063386,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063386,0.063923,0.061237,0.061774,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061774,0.062311,0.060163,0.060700,47894400,0.0,0.0

**Explicação para o código acima:**

Primeiro, importe a biblioteca `yfinance` usando o alias `yf`.
Em seguida, crie um objeto Ticker para as ações da Microsoft `(“MSFT”)`.
Use o método `history` do objeto `Ticker` para baixar os dados históricos da ação. O parâmetro `períod` do método `history` especifica quando você deseja fazer download dos dados. Neste exemplo, está definido como máximo para baixar o `max` de dados históricos disponíveis.

Aqui estão alguns dos valores possíveis para o parâmetro de período e o que eles representam:

* period="1d": Baixe 1 dia de dados históricos.
* period="5d": Baixe 5 dias de dados históricos.
* period="1mo": Baixe 1 mês de dados históricos.
* period="3mo": Baixe 3 meses de dados históricos.
* period="6mo": Baixe 6 meses de dados históricos.
* period="1y": Baixe 1 ano de dados históricos.
* period="2y": Baixe 2 anos de dados históricos.
* period="5y": Baixe 5 anos de dados históricos.
* period="10y": Baixe 10 anos de dados históricos.
* period="acumulado": Baixe dados históricos desde o início do ano atual.
* period="max": Baixe todos os dados históricos disponíveis.

Finalmente, você imprime os dados baixados usando a função `head`. Esses dados baixados exibirão um quadro de dados do Pandas contendo os preços históricos das ações da Microsoft e outros dados financeiros.

In [5]:
msft_data = msft.history(period="10y")
msft_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-02-28 00:00:00-05:00,32.161643,32.568108,32.026154,32.441090,41215000,0.0,0.0
2014-03-03 00:00:00-05:00,32.110835,32.288666,31.746712,31.992283,29717500,0.0,0.0
2014-03-04 00:00:00-05:00,32.347944,32.585048,32.237858,32.525772,26802400,0.0,0.0
2014-03-05 00:00:00-05:00,32.390292,32.407229,32.119315,32.271740,20520100,0.0,0.0
2014-03-06 00:00:00-05:00,32.297129,32.381812,32.085428,32.305599,23582200,0.0,0.0