<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/Images/SN_logo.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1>Extraindo dados de estoque usando web scraping</h1>

Nem todos os dados de estoque estão disponíveis por meio da API nesta tarefa; você usará web scraping para obter dados financeiros. Você será questionado sobre seus resultados.
Você extrairá e compartilhará dados históricos de uma página da web usando a biblioteca BeautifulSoup.

<h2>Índice</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    
1. Extraindo dados usando BeautifulSoup
   
     <ul>
     <li> Baixe a página da web usando a biblioteca de solicitações </li>
     <li> Analisar HTML em uma página web usando BeautifulSoup </li>
     <li> Extraia dados e construa um quadro de dados </li>

     </ul>

2. Extraindo dados usando pandas
3. Exercício
<p>
     Tempo estimado necessário: <strong>30 min</strong></p>
</div>

<h>

In [28]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

Em Python, você pode ignorar avisos usando o módulo warnings. Você pode usar a função filterwarnings para filtrar ou ignorar mensagens ou categorias de aviso específicas.

In [19]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Usando Webscraping para extrair exemplo de dados de estoque

Extrairemos dados de ações da Netflix https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html

<center> 
    
#### Neste exemplo, estamos usando o site de finanças do Google e procurando extrair dados do Netflix.

</center>
    <br>

  <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/Images/netflix.png"> </center> 
  
<center> Fig:- Tabela que precisamos extrair</center>

Na página seguinte temos uma tabela com nomes de colunas (Date, Open, High, Low, close, adj close volume) da qual devemos extrair as seguintes colunas

* Date 

* Open  

* High 

* Low 

* Close 

* Volume

# Etapas para extrair os dados
1. Envie uma solicitação HTTP para a página da web usando a biblioteca de solicitações.
2. Analise o conteúdo HTML da página da web usando BeautifulSoup.
3. Identifique as tags HTML que contêm os dados que você deseja extrair.
4. Use métodos BeautifulSoup para extrair os dados das tags HTML.
5. Imprima os dados extraídos

### Etapa 1: Envie uma solicitação HTTP para a página da web

Você usará a biblioteca de solicitações para enviar uma solicitação HTTP para a página da web.

In [58]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

O método requests.get() usa uma URL como primeiro argumento, que especifica a localização do recurso a ser recuperado. Nesse caso, o valor da variável url é passado como argumento para o método requests.get(), porque você armazenará o URL de uma página da web em uma variável url.

Você usa o método .text para extrair o conteúdo HTML como uma string para torná-lo legível.

In [ ]:
data  = requests.get(url).text
print(data)

### Etapa 2: Parse o conteúdo HTML

<hr>
<hr>
<center>

# O que é Parse?
Em palavras simples, análise refere-se ao processo de análise de uma sequência de texto ou estrutura de dados, geralmente seguindo um conjunto de regras ou gramática, para compreender sua estrutura e significado.
A análise envolve dividir um trecho de texto ou dados em seus componentes ou elementos individuais e, em seguida, analisar esses componentes para extrair as informações desejadas ou para compreender suas relações e significados.</center>
<hr>
<hr>

Em seguida, você pegará o conteúdo HTML bruto de uma página da web ou uma sequência de código HTML que precisa ser analisada e transformada em um formato estruturado e hierárquico que pode ser mais facilmente analisado e manipulado em Python. Isso pode ser feito usando uma biblioteca Python chamada <b>Beautiful Soup</b>.

## Parsing os dados usando a biblioteca BeautifulSoup
* Crie um novo objeto BeautifulSoup.
<br>
<br>
<b>Nota: </b>Para criar um objeto BeautifulSoup em Python, você precisa passar dois argumentos para seu construtor:

1. O conteúdo HTML ou XML que você deseja analisar como uma sequência.
2. O nome do analisador que você deseja utilizar para analisar o conteúdo HTML ou XML. Este argumento é opcional e, se você não especificar um analisador, o BeautifulSoup usará o analisador HTML padrão incluído na biblioteca.
aqui neste laboratório estamos usando o analisador "html5lib".

In [5]:
soup = BeautifulSoup(data, 'html5lib')

### Step 3: Identificar as tags HTML

Conforme afirmado acima, a página da web consiste em uma tabela, portanto, rasparemos o conteúdo da página HTML e converteremos a tabela em um quadro de dados.

Você criará um quadro de dados vazio usando a função <b> pd.DataFrame() </b> com as seguintes colunas:

* "Date"
* "Open"
* "High" 
* "Low" 
* "Close"
* "Volume"

In [34]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])
netflix_data

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

<hr>
<hr>
<center>

### Trabalhando na tabela HTML </center>
<br>

Estas são as seguintes tags que são usadas ao criar tabelas HTML.

* &lt;table&gt;: Esta tag é uma tag raiz usada para definir o início e o fim da tabela. Todo o conteúdo da tabela está incluído nessas tags.


* &lt;tr&gt;: Esta tag é usada para definir uma linha da tabela. Cada linha da tabela é definida nesta tag.

* &lt;td&gt;: Esta tag é usada para definir uma célula da tabela. Cada célula da tabela é definida nesta tag. Você pode especificar o conteúdo da célula entre as tags <td> de abertura e fechamento.

* &lt;th&gt;: Esta tag é usada para definir uma célula de cabeçalho na tabela. A célula de cabeçalho é usada para descrever o conteúdo de uma coluna ou linha. Por padrão, o texto dentro de uma tag <th> está em negrito e centralizado.

* &lt;tbody&gt;: Este é o conteúdo principal da tabela, que é definido através da tag <tbody>. Ele contém uma ou mais linhas de elementos <tr>.

<hr>
<hr>

### Etapa 4: Use um método BeautifulSoup para extrair dados

Usaremos os métodos <b>find()</b> e <b>find_all()</b> do objeto BeautifulSoup para localizar o corpo da tabela e a linha da tabela, respectivamente, no HTML.
    * O método <i>find() </i> retornará um conteúdo de tag específico.
    * O método <i>find_all()</i> retorna uma lista de todas as tags correspondentes no HTML.

In [52]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [55]:
netflix_data.head()

           Date    Open    High     Low   Close Adj Close       Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21    528.21   78,560,600
1  May 01, 2021  512.65  518.95  478.54  502.81    502.81   66,927,600
2  Apr 01, 2021  529.93  563.56  499.00  513.47    513.47  111,573,300
3  Mar 01, 2021  545.57  556.99  492.85  521.66    521.66   90,183,900
4  Feb 01, 2021  536.79  566.65  518.28  538.85    538.85   61,902,300

<hr>
<center>
    
# ChatGPT correção
    
</center>
<br>

<hr>

In [53]:


import pandas as pd

# Inicializa o DataFrame
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])

# Primeiro isolamos o corpo da tabela que contém todas as informações
# Em seguida, percorremos cada linha e encontramos todos os valores das colunas de cada linha
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Cria um novo DataFrame com os dados da linha atual
    new_row = pd.DataFrame({"Date": [date], "Open": [Open], "High": [high], "Low": [low], "Close": [close], "Adj Close": [adj_close], "Volume": [volume]})
    
    # Concatena o novo DataFrame com o DataFrame existente
    netflix_data = pd.concat([netflix_data, new_row], ignore_index=True)

# Mostra o DataFrame resultante
print(netflix_data)

            Date      Open      High       Low     Close Adj Close  \
0   Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20
1   Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93
2   Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04
3   Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15
4   Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73
..           ...       ...       ...       ...       ...       ...
56  May 01, 2016    663.92    724.23    656.00    722.79    722.79
57  Apr 01, 2016    590.49    669.98    585.25    659.59    659.59
58  Mar 01, 2016    556.29    603.24    538.58    593.64    593.64
59  Feb 01, 2016    578.15    581.80    474.00    552.52    552.52
60  Jan 01, 2016    656.29    657.72    547.18    587.00    587.00

         Volume
0    71,528,900
1    77,556,200
2    90,810,500
3   116,226,100
4   115,899,300
..          ...
56   90,614,500
57   78,464,200
58   94,009,500
59  124,144,800
60  130,200,900

[61 rows x 7 columns]

<hr>

# Extraindo dados usando a biblioteca `pandas`

Também podemos usar a função pandas `read_html` da biblioteca pandas e usar a URL para extrair dados.

<center>

## O que é read_html na biblioteca pandas?
`pd.read_html(url)` é uma função fornecida pela biblioteca pandas em Python que é usada para extrair tabelas de páginas da Web HTML. Ela recebe um URL como entrada e retorna uma lista de todas as tabelas encontradas na página da Web. 
</center>

In [78]:
read_html_pandas_data = pd.read_html(url)

Ou você pode converter o objeto BeautifulSoup em uma string.

In [76]:
read_html_pandas_data = pd.read_html(str(soup))
read_html_pandas_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

Como existe apenas uma tabela na página, basta pegar a primeira tabela da lista retornada.

In [72]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

<hr>

# Exercício: use webscraping para extrair dados de estoque

Use a biblioteca `requests` para baixar a página da web [https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html]( https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html). Salve o texto da resposta como uma variável chamada `html_data`.

In [5]:
url= 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html'

In [ ]:

import pandas as pd
from bs4 import BeautifulSoup
import requests
import yfinance as yf

In [ ]:
html_data  = requests.get(url).text
print(html_data)

Analise os dados HTML usando `beautifulsoup`.

In [23]:
soup = BeautifulSoup(html_data, 'html5lib')

<b>Pergunta 1:</b> Qual é o conteúdo do atributo title?

In [32]:
table = soup.find('title')
table

TypeError: 'NoneType' object is not callable

Usando BeautifulSoup, extraia a tabela com preços históricos das ações e armazene-a em um quadro de dados chamado `amazon_data`. O quadro de dados deve ter colunas Data, Open, High, Low, Close, Adj Close e Volume. Preencha cada variável com os dados corretos da lista `col`.

In [83]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    volume = col[6].text
    
    new_row = pd.DataFrame({"Date": [date], "Open": [Open], "High": [high], "Low": [low], "Close": [close], "Adj Close": [adj_close], "Volume": [volume]})
    
    # Concatena o novo DataFrame com o DataFrame existente
    amazon_data = pd.concat([amazon_data, new_row], ignore_index=True)
    
print(amazon_data)

            Date      Open      High       Low     Close       Volume  \
0   Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900
1   Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200
2   Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500
3   Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100
4   Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300
..           ...       ...       ...       ...       ...          ...
56  May 01, 2016    663.92    724.23    656.00    722.79   90,614,500
57  Apr 01, 2016    590.49    669.98    585.25    659.59   78,464,200
58  Mar 01, 2016    556.29    603.24    538.58    593.64   94,009,500
59  Feb 01, 2016    578.15    581.80    474.00    552.52  124,144,800
60  Jan 01, 2016    656.29    657.72    547.18    587.00  130,200,900

   Adj Close
0     587.00
1     587.00
2     587.00
3     587.00
4     587.00
..       ...
56    587.00
57    587.00
58    587.00
59    587.00
60    587.00

[61 rows x 7 columns]

<b>Pergunta 2:</b> Quais são os nomes das colunas no quadro de dados?

In [34]:
amazon_data.head()

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

In [35]:
amazon_data = pd.read_html(url)

In [36]:
amazon_data= pd.read_html(str(soup))
amazon_data

[                                                 Date  \
 0                                        Jan 01, 2021
 1                                        Dec 01, 2020
 2                                        Nov 01, 2020
 3                                        Oct 01, 2020
 4                                        Sep 01, 2020
 ..                                                ...
 57                                       Apr 01, 2016
 58                                       Mar 01, 2016
 59                                       Feb 01, 2016
 60                                       Jan 01, 2016
 61  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                             3270.00
 1                                             3188.50
 2                                             3061.74
 3                                             3208.00
 4                                             3489.58
 ..                                                ...
 57                                             590.49
 58                                             556.29
 59                                             578.15
 60                                             656.29
 61  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                             3363.89
 1                                             3350.65
 2                                             3366.80
 3                                             3496.24
 4                                             3552.25
 ..                                                ...
 57                                             669.98
 58                                             603.24
 59                                             581.80
 60                                             657.72
 61  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                             3086.00
 1                                             3072.82
 2                                             2950.12
 3                                             3019.00
 4                                             2871.00
 ..                                                ...
 57                                             585.25
 58                                             538.58
 59                                             474.00
 60                                             547.18
 61  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                             3206.20
 1                                             3256.93
 2                                             3168.04
 3                                             3036.15
 4                                             3148.73
 ..                                                ...
 57                                             659.59
 58                                             593.64
 59                                             552.52
 60                                             587.00
 61  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                             3206.20
 1                                             3256.93
 2                                             3168.04
 3                                             3036.15
 4                                             3148.73
 ..                                                ...
 57                                             659.59
 58                                             593.64
 59                                             552.52
 60                                             587.00
 61  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            71528900
 1                                            77556200
 2                                            90810500
 3                                           116226100
 4                                           115899300
 ..                                                ...
 57                                           78464200
 58                                           94009500
 59                                          124144800
 60                                          130200900
 61  *Close price adjusted for splits.**Adjusted cl...

 [62 rows x 7 columns]]

In [188]:
amazon_dataframe = amazon_data[0]

amazon_dataframe.head()

           Date     Open     High      Low   Close* Adj Close**     Volume
0  Jan 01, 2021  3270.00  3363.89  3086.00  3206.20     3206.20   71528900
1  Dec 01, 2020  3188.50  3350.65  3072.82  3256.93     3256.93   77556200
2  Nov 01, 2020  3061.74  3366.80  2950.12  3168.04     3168.04   90810500
3  Oct 01, 2020  3208.00  3496.24  3019.00  3036.15     3036.15  116226100
4  Sep 01, 2020  3489.58  3552.25  2871.00  3148.73     3148.73  115899300

In [82]:
import json


amazondata = 'amazon_data.json'
with open(amazondata) as amazon_json:
    amazon_data = json.load(amazon_json)
    # Print the type of data variable    
    print("Type:", type(amazondata))

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
amazon = yf.Ticker("AMZN")

In [ ]:
amazon_data.history(period="max")

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Download the webpage
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
response = requests.get(url)
html_data = response.text

# Parse the HTML data using BeautifulSoup
soup = BeautifulSoup(html_data, "html.parser")

# Question 1: What is the content of the title attribute?
title_content = soup.title.string
print("Title attribute content:", title_content)

# Extract table with historical share prices
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data.append({"Date": date, "Open": Open, "High": high, "Low": low, "Close": close, "Adj Close": adj_close, "Volume": volume}, ignore_index=True)

# Print out the first five rows of the amazon_data data frame
print("First five rows of amazon_data:")
print(amazon_data.head())

# Question 2: What are the names of the columns in the data frame?
column_names = amazon_data.columns.tolist()
print("Column names:", column_names)

# Question 3: What is the Open of the last row of the amazon_data data frame?
last_row_open = amazon_data.iloc[-1]["Open"]
print("Open of the last row:", last_row_open)

Title attribute content: Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance

AttributeError: 'DataFrame' object has no attribute 'append'